/* Add your styles here */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px 8%;
  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
  }
  .gallery img{
    width:100%;
  }
  img:hover{
     transition: all 1s ease-in-out;
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
  }
      
  .baslik{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }